body {
  background-color: brown;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.jumbotron {
  background-color: tan;
  border: 5px solid wheat ;
}
h1{
  text-align: center;
}
.spacing {
  padding: 30px;
}
input {
  background-color: tan;
}
.container {
  text-align: center;
}
.content-box {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  display: none;
}
