body {
  background-color: brown;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.jumbotron {
  background-color: tan;
  border: 5px solid wheat ;
}
h1{
  text-align: center;
}
.spacing {
  padding: 30px;
}
input {
  background-color: tan;
}
.container {
  text-align: center;
}
.content-box {
  height: auto;
  width: auto;
  font-size: 80%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  display: none;

}

p#result {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 15%;
  margin-left: 10%;
}